:root {
    --bg-dark: hsl(0, 0%, 2%);
    --bg: hsl(0, 0%, 8%);
    --bg-light: hsl(0, 0%, 12%);
    --text-strong: hsl(0, 0%, 95%);
    --text-soft: hsl(0, 0%, 70%);
    --input: hsl(0, 0%, 15%);
    --input-hover: hsl(0, 0%, 20%);
    --button: hsl(270, 25%, 50%);
    --button-hover: hsl(270, 25%, 60%);
}

html, body {
    background-color: var(--bg-dark);
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    font-family: "Geist", sans-serif;
}

form {
    background-color: var(--bg);
    
    border-radius: 0.5rem;
    
    width: 60%;
    max-width: 600px;
    padding: 1.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form h1 {
    color: var(--text-strong);
    margin: 0 0 0.5rem 0;
    text-align: center;
}

form input {
    background-color: var(--input);
    border-radius: 0.4rem;
    width: 80%;
    padding: 0.75rem;
    color: var(--text-strong);
    border: 1px solid transparent;
    font-size: 1rem;
}

form input::placeholder {
    color: var(--text-soft);
    opacity: 1;
}

form input:focus {
    outline: none;
    border-color: var(--button);
    background-color: var(--input-hover);
}

form div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 80%;
}

form div button {
    border: none;
    border-radius: 0.3rem;
    background-color: var(--button);
    color: var(--text-strong);
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

form div button:hover {
    background-color: var(--button-hover);
    transform: scale(1.03, 1.03);
}
